run =  ["gunicorn", "--bind", "0.0.0.0:5000", "run:app"]
entrypoint = "run.py"
modules = ["nodejs-20", "python-3.11", "postgresql-16"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[deployment]
run =  ["gunicorn", "--bind", "0.0.0.0:5000", "run:app"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true

[objectStorage]
defaultBucketID = "replit-objstore-14f1b847-9243-4a51-b979-b86c328f7947"

[workflows]
runButton = "Run Flask"

[[workflows.workflow]]
name = "Run Flask"
author = 21777039
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run.py"
