run =  ["gunicorn", "--bind", "0.0.0.0:5000", "run:app"]
entrypoint = "run.py"
modules = ["nodejs-20", "python-3.11", "postgresql-16", "python3"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["gunicorn", "--bind=0.0.0.0:5000", "--reuse-port", "run:app"]
deploymentTarget = "autoscale"
build = ["pip", "install", "-r", "requirements.txt"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35933
externalPort = 3001

[[ports]]
localPort = 38041
externalPort = 3002

[[ports]]
localPort = 39315
externalPort = 3000

[[ports]]
localPort = 40069
externalPort = 3003

[objectStorage]
defaultBucketID = "replit-objstore-14f1b847-9243-4a51-b979-b86c328f7947"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run Flask"
author = 21777039
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run.py"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask App"

[[workflows.workflow]]
name = "Flask App"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind=0.0.0.0:5000 --reuse-port run:app"
waitForPort = 5000

[agent]
expertMode = true
