{% extends "layout.html" %}
{% block content %}
<div class="max-w-7xl mx-auto py-8">
    <!-- Banner -->
    <!-- Banner Image -->
    <div class="relative h-60 bg-gray-200 rounded-lg overflow-hidden">
        {% if profile.banner_image %}
            <img src="{{ url_for('profiles.get_image', filename=profile.banner_image) }}" alt="Banner Image" class="w-full h-full object-cover">
        {% else %}
            <img src="{{ url_for('static', filename='images/default_banner.png') }}" alt="Default Banner Image" class="w-full h-full object-cover">
        {% endif %}
    </div>


    <!-- Profile Picture and Name -->
    <div class="relative -mt-20 px-8">
        <div class="flex items-center">
            <!-- Individual Profile Template -->
            <div class="w-40 h-40 bg-white rounded-full overflow-hidden border-4 border-white shadow-lg">
                {% if profile.profile_image %}
                    <img src="{{ url_for('profiles.get_image', filename=profile.profile_image) }}" alt="Profile Image" class="w-full h-full object-cover">
                {% else %}
                    <img src="{{ url_for('static', filename='images/default_profile.png') }}" alt="Default Profile Image" class="w-full h-full object-cover">
                {% endif %}
            </div>

            <div class="ml-8">
                <h1 class="text-3xl font-bold">{{ profile.full_name }}</h1>
                <p class="text-gray-600">{{ profile.bio }}</p>
            </div>
        </div>
    </div>

    <!-- Social Links -->
    <div class="mt-8">
        <h3 class="text-lg font-bold">Social Links</h3>
        <ul>
            {% if profile.social_links %}
                {% for platform, url in profile.social_links.items() %}
                    <li><a href="{{ url }}" target="_blank" class="text-blue-500 hover:underline">{{ platform | capitalize }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

    <!-- User's Discussions -->
    <div class="mt-12">
        <h2 class="text-2xl font-bold mb-6">Discussions by {{ profile.full_name }}</h2>
        <ul>
            {% for discussion in discussions %}
                <li class="mb-4">
                    <a href="{{ url_for('main.discussion', discussion_id=discussion.polis_id) }}" class="text-lg text-blue-500 hover:underline">{{ discussion.title }}</a>
                    <p class="text-sm text-gray-600">{{ discussion.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
